video, img, canvas {
      max-width:100%;
}

p{
    margin: 0;
    padding: 0;
}

form
{
    display:inline-block;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

header
{
	left:0;
    background-color: #2C2D37;"
    top: 0;
    width: 100%;
}
footer
{
    width:100%;
    bottom:0;
    left:0;
    background-color:#61626F;
}

form
{
    margin 10px;
}
input[type=text]:focus, input[type=password]:focus {
    border: 3px solid #555;
}

input[type=button], input[type=submit], input[type=reset] {
    width: 75px;
    background-color: #4CAF50;
    border: none;
    color: green;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.menu
{
	float: right;
	width: 360px;
	height: 400px;
	background-color: #FF6699;
    margin: 10px;
}
.container
{
    width: 90%;
    margin: 0 auto; 
    border: solid;
}


.photos
{
    display: block;
    margin: auto;
    border: solid;
}

.box{
    width: 90%;
    margin: 0 auto;
}

.gallerie{
    width: 100%;
    border: solid;
}

.gallerie img{
    margin: 0px;
    padding: 0px;
    width: 24%;
}

.comment
{
    padding: 5%;
    margin: 0 auto;
}

#mypic
{
    padding: 50px;
    margin: 0 auto;
    display: block;
    margin-bottom: 50px;
}

#show_comment{
    max-height: 500px;
    padding-left: 10%;
    padding-right: 10%;
    overflow: scroll;
}

#ele
{
	background-color: #797979;
        color: #fff;
        width: 100px;
        height: 50px;
        cursor: move;
        position: relative;
        padding: 10px;
}
.right{
    float: right;
}